<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Grade 6</string>
	<string>Major Scales</string>
	<string>Minor Harmonic Scales</string>
	<string>Minor Melodic Scales</string>
	<string>Arpeggios</string>
	<string>Dominant Sevenths</string>
	<string>Double Bass Scales</string>
	<string>Diminished Sevenths</string>
	<string>Viola Scales</string>
</array>
</plist>
