<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>string</key>
		<integer>1</integer>
		<key>position</key>
		<integer>3</integer>
		<key>finger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>1</integer>
		<key>position</key>
		<integer>5</integer>
		<key>finger</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>2</integer>
		<key>position</key>
		<integer>0</integer>
		<key>finger</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>2</integer>
		<key>position</key>
		<integer>1</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>2</integer>
		<key>position</key>
		<integer>3</integer>
		<key>finger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>2</integer>
		<key>position</key>
		<integer>5</integer>
		<key>finger</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>3</integer>
		<key>position</key>
		<integer>0</integer>
		<key>finger</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>3</integer>
		<key>position</key>
		<integer>1</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>3</integer>
		<key>position</key>
		<integer>3</integer>
		<key>finger</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>3</integer>
		<key>position</key>
		<integer>5</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>3</integer>
		<key>position</key>
		<integer>6</integer>
		<key>finger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>3</integer>
		<key>position</key>
		<integer>8</integer>
		<key>finger</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>3</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>5</integer>
		<key>finger</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>6</integer>
		<key>finger</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>8</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>10</integer>
		<key>finger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>11</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>13</integer>
		<key>finger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>15</integer>
		<key>finger</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>17</integer>
		<key>finger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>string</key>
		<integer>4</integer>
		<key>position</key>
		<integer>18</integer>
		<key>finger</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
